<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktbeskrivelse</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
<div class="container">
    <h1>Produktbeskrivelse</h1>
    <header th:insert="fragments/header.html :: header"> </header>

    <br/>
    <label for="id">ID</label> <input id="id" name="id" th:value="${product.getId()}" type="text" readonly/>
    <label for="name">Navn</label> <input id="name" name="name" th:value="${product.getName()}" type="text" readonly/>
    <label for="price">Pris</label> <input id="price" name="price" th:value="${product.getPrice()}" type="text" readonly/>
    <label for="description">Beskrivelse</label> <input id="description" name="description" th:value="${product.getDescription()}" type="text" readonly/>

    <a href="/products"><button class="btn btn-create">Tilbage</button></a>

</div>
</body>
</html>