<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: head">
<meta charset="UTF-8">
    <title>Produktbeskrivelse</title>
</head>
<body>
<nav th:insert="fragments/fragments.html :: header"></nav>
<div class="container">
        <h1>Produktbeskrivelse</h1>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <td style="width: 20%;">
                    ID
                </td>
                <td>
                    <input id="id" name="id" style="width: 50%" th:value="${product.getId()}" type="text" readonly/>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Navn
                </td>
                <td>
                    <input id="name" name="name" style="width: 50%" th:value="${product.getName()}" type="text" readonly/>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Pris
                </td>
                <td>
                    <input id="price" name="price" style="width: 50%" th:value="${product.getPrice()}" type="text" readonly/>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Beskrivelse
                </td>
                <td>
                    <input id="description" name="description" style="width: 50%" th:value="${product.getDescription()}" type="text" readonly/>
                </td>
            </tr>

            <tr th:each="category : ${product.getCategories()}">
                <td style="width: 20%;">
                    Kategori
                </td>
                <td>
                    <input id="category" name="category" style="width: 50%" th:value="${category.getName()}" type="text" readonly/>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Producent
                </td>
                <td>
                    <input id="companyname" name="companyname" style="width: 50%" th:value="${product.getCompany().getName()}" type="text" readonly/>
                </td>
            </tr>

            <tr>
                <td style="width: 20%;">
                    Beskrivelse
                </td>
                <td>
                    <input id="companydescription" name="companydescription" style="width: 50%" value="TODO: Firma beskrivelse af produkt" type="text" readonly/>
                </td>
            </tr>
        </table>
        <a href="/products"><button class="btn btn-info">Tilbage</button></a>
</div>
</body>
</html>