<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
<div class="container">
    <h1>Edit Student</h1>
    <header th:insert="fragments/header.html :: header"> </header>

    <br/>
    <form action="/student/editDo" th:object="${student}" method="post">
        <label for="firstName">Fornavn</label> <input id="firstName" name="firstName" th:value="*{getFirstName()}" type="text"/>
        <label for="lastName">Efternavn</label> <input id="lastName" name="lastName" th:value="*{getLastName()}" type="text"/>
        <label for="enrollmentDate">Indskrivelsesdato</label> <input id="enrollmentDate" name="enrollmentDate" th:value="*{getEnrollmentDate()}" type="text"/>
        <label for="cpr">CPR</label> <input id="cpr" name="cpr" th:value="*{getCpr()}" type="text"/>
        <input type="hidden" id="id" name="id" th:value="${student.getId()}"/>
        <input name="submit" type="submit" value="Gem" class="btn btn-create">
    </form>
</div>
</body>
</html>