<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: head">
    <meta charset="UTF-8">
    <title>Rediger Produkt</title>
</head>
<body>
<div class="container">
    <h1>Rediger Produkt</h1>
    <header th:insert="fragments/fragments.html :: header"> </header>

    <br/>
    <form action="/product/editDo" th:object="${product}" method="post">
        <label for="name">Navn</label> <input id="name" name="name" th:value="*{getName()}" type="text"/>
        <label for="price">Pris</label> <input id="price" name="price" th:value="*{getPrice()}" type="text"/>
        <label for="description">Beskrivelse</label> <input id="description" name="description" th:value="*{getDescription()}" type="text"/>
        <input type="hidden" id="id" name="id" th:value="${product.getId()}"/>
        <input name="submit" type="submit" value="Gem" class="btn btn-create">
    </form>
</div>
</body>
</html>