<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>ERROR</h1>

    <header th:insert="fragments/header.html :: header"> </header>

    <h1>Oops something went wrong!</h1>
    <h2>Error code: 500</h2>
    <h3>Our engineers are on it!</h3>
    <a href="/"><button class="btn btn-create">Home</button></a>

</div>
</body>
</html>