<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: head">
<meta charset="UTF-8">
    <title>Student Administration</title>
</head>
<body>
<div class="container">
    <h1>Varekatalog</h1>

    <header th:insert="fragments/fragments.html :: header"></header>
    <br/>
    <a href="/product/create"><button class="btn btn-create w">Create</button></a>
    <br/>
    <h3>Varer på lager</h3>
    <table>
        <tr>
            <th>Navn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
            <th>Firma</th>
            <th>Firma beskrivelse</th>
            <th>Edit</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getCompany().getName()}"></td>
            <td th:text="${product.getCategory().getName()}"></td>
            <td>
                <a th:href="@{/product(id=${product.id})}"><button class="btn btn-details">Details</button></a>
                <a th:href="@{/product/edit(id=${product.id})}"><button class="btn btn-ed">Edit</button></a>
                <a th:href="@{/product/delete(id=${product.id})}"><button class="btn btn-del">Delete</button></a></td>
        </tr>
    </table>
</div>
</body>
</html>