<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: head">
    <meta charset="UTF-8">
    <title>Student Administration</title>
</head>
<body>
<nav th:insert="fragments/fragments.html :: header"></nav>
<div class="container">

    <h1>Varer på lager</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Navn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
            <th>Firma</th>
            <th>Firma beskrivelse</th>
            <th>Edit</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getCompany().getName()}"></td>
            <td th:text="${product.getCategories()}"></td>
            <td>
                <a th:href="@{/product(id=${product.id})}"><button class="btn btn-success">Details</button></a>
                <a th:href="@{/product/edit(id=${product.id})}"><button class="btn btn-info">Edit</button></a>
                <a th:href="@{/product/delete(id=${product.id})}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
    </table>
    <a href="/product/create"><button class="btn btn-success btn-lg">Create</button></a>
    <br/>
</div>
</body>
</html>