<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Student Administration</h1>

    <header th:insert="fragments/header.html :: header"> </header>
    <br/>
    <a href="/student/create"><button class="btn btn-create w">Create</button></a>
    <br/>
    <h3>Students currently enrolled at KEA</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Enrollment</th>
            <th>CPR</th>
            <th>Edit</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getEnrollmentDate()}"></td>
            <td th:text="${student.getCpr()}"></td>
            <td>
                <a th:href="@{/student(id=${student.id})}"><button class="btn btn-details">Details</button></a>
                <a th:href="@{/templates/product/edit(id=${student.id})}"><button class="btn btn-ed">Edit</button></a>
                <a th:href="@{/templates/product/delete(id=${student.id})}"><button class="btn btn-del">Delete</button></a></td>
        </tr>
    </table>
</div>
</body>
</html>